%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    #wrapper
      %section#featured
        / start slider
        .container
          .row
            .col-lg-12
              / Slider
              #main-slider.flexslider
                %ul.slides
                  %li
                    %img{:alt => "", :src => "/assets/10.jpg", :height => "400", :width => "1024"}
                  %li
                    %img{:alt => "", :src => "/assets/32.jpg", :height => "400", :width => "1024"}/
                  %li
                    %img{:alt => "", :src => "/assets/29.jpg", :height => "400", :width => "1024"}/
                  %li
                    %img{:alt => "", :src => "/assets/11.jpg", :height => "400", :width => "1024"}/
                  %li
                    %img{:alt => "", :src => "/assets/30.jpg", :height => "400", :width => "1024"}/
                  %li
                    %img{:alt => "", :src => "/assets/3.jpg", :height => "400", :width => "1024"}/
              / end slider
      %section.callaction
        .container
          .row
            .col-lg-12
              .big-cta
                .cta-text
                  %h2
                    %span{:style => "color: navy;"} About Us
      %section#content
        .container
          .row
            %section#projects
              %ul#thumbs.portfolio
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %img{:title => "Mr.Asaram Vanjare(M.A ,D.ED, NCC, Maharashtra Wrestling)", :src => "assets/teacher1.png", :height => "200", :width => "200"}/
                    %h4{:style => "color: red;"} Mr. Asaram Vanjare sir
                    %h5 ( Founder, Garudzep Academy )
            %p Garudzep Career Academy is a committed and dedicated organization mainly established to give radical effect to achieve your goals. We at Garudzep Career Academy are here to help students to march in right direction to achieve their aspiration in civil services. We are completely focused on and dedicated to our students success through: Providing time bound strategy for study compilation, revision, analysis & writing skills as per requirement of examination. Logical analysis of facts. Personal counseling and mentoring to all our students. A dynamic, student - centric learning environment in academy.
            %p The way to success passes through three subways viz dedication, related work and persistence. But if it is related to competitive exams, the pendulum must be tilted towards smart work which is in turn a part of related work. Day by day a huge competition is introducing in this sector so as to acquire the powers offered by the same, considering that the old strategy which in includes only hard work, some how doesn't work satisfactorily. The need of coaching has arouse as a remedy for above. Definitely along with study, a proper approach towards exam surely brings success in less time, it is same as that, " If you are having different molds of masterpieces, it becomes easy to put mud mash into it so as to make superior paragons".
            %p The objective of competitive exam consist the development of visionary Administration which having the strategy to efficiently manage the Administration & bureaucracy. Two original contributions were imp. in this sector is identification of situation & implement the efficient suitable strategy for that incidence. This kind of aspirants are useful in the Administration for that guidence is very imporatant that can be full fill your personality to tackle the situation.