%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    #wrapper
      %section#featured
        / start slider
        .container
          .row
            .col-lg-12
              / Slider
              #main-slider.flexslider
                %ul.slides
                  %li
                    %img{:alt => "", :src => "/assets/10.jpg", :height => "400", :width => "1024"}
                  %li
                    %img{:alt => "", :src => "/assets/32.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Achievment
                  %li
                    %img{:alt => "", :src => "/assets/29.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Achievment
                  %li
                    %img{:alt => "", :src => "/assets/11.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Pride moment
                  %li
                    %img{:alt => "", :src => "/assets/30.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Pride moment
                  %li
                    %img{:alt => "", :src => "/assets/3.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Pride moment
                  %li
                    %img{:alt => "", :src => "/assets/33.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Pride moment
                  %li
                    %img{:alt => "", :src => "/assets/34.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Pride moment
                  %li
                    %img{:alt => "", :src => "/assets/35.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h4 Pride moment            
              / end slider
      %section.callaction
        .container
          .row
            .col-lg-12
              .big-cta
                .cta-text
                  %h2
                    %span{:style => "color: navy;"} Why We are best?
      %section#content
        .container
          .row
            .col-lg-12
              .row
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Quality Work
                      .icon
                        %i.fa.fa-desktop.fa-3x
                      %p
                        We are reputed for excellent training and counselling for administrative carriers in Maharashtra. GaganBharari Career Academy is founded by Mr. Ashok Vanjare.  For over last 2 years,we have been mentoring students for success in administrative carriers.
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Excellent Teachers
                      .icon
                        %i.fa.fa-pagelines.fa-3x
                      %p
                        Today , experienced and highly qualified teachers used result oriented methodologies  and a personalized guidance approach to bring out the best in students. Providing time bound strategy for study compilation, revision as per requirement of examination.
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Our Mission
                      .icon
                        %i.fa.fa-edit.fa-3x
                      %p
                        GaganBharari Career Academy believes in developing the overall personality of its students in order to create future responsible global citizen and a responsible officers.To develop a spirit of social commitment and to promote a culture of a piece in the society.
                .col-lg-3
                  .box
                    
                    .box-bottom
                      %h4 Campus Expanse
                      .icon
                        %i.fa.fa-smile-o.fa-3x
                      %p
                        Each campus of Gagan Bharari Career Academy is provided with a friendly study environment, a quality study material and library and reading room facility with very good infrastructure.We are completely focused on and dedicated to our students success.
          / divider
          .row
            .col-lg-12
              .solidline
          / end divider
          / Portfolio Projects
          .row
            .col-lg-12
              %h4.heading{:style => "color: navy;"} Our Teachers
              .row
                %section#projects
                  %ul#thumbs.portfolio
                    / Item Project and Filter Name
                    %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                      .item-thumbs
                        %img{:title => "Mr.Asaram Vanjare(M.A ,D.ED, NCC, Maharashtra Wrestling)", :src => "assets/teacher1.png", :height => "200", :width => "200"}/
                    %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                      .item-thumbs
                        %img{:title => "Mrs.Shamal Daundkar(M.A English)", :src => "/assets/teacher2.png", :height => "180", :width => "200"}/
                    %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                      .item-thumbs
                        %img{:title => "Mr.Vijay Patil(M.A Marathi)", :src => "/assets/teacher3.jpg", :height => "200", :width => "200"}/
                    %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                      .item-thumbs
                        %img{:title => "Mr.Pankaj Raval", :src => "/assets/teacher4.png", :height => "200", :width => "200"}/
          .row
            .col-lg-12
              %h4.heading{:style => "color: navy;"} Some ground practices video
              .row
                %section#projects
                  %ul#thumbs.portfolio
                    / Item Project and Filter Name
                    %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                      .item-thumbs
                        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"juj9VJDx0zE"}?rel=0"}
                    %li.item-thumbs.col-lg-3.design{"data-id" => "id-1", "data-type" => "icon"}
                      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"g_TyFMlfz8A"}?rel=0"}
                    %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"3h3SeblSeqo"}?rel=0"}
                    %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"vLFFoEY25cs"}?rel=0"}