%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    #wrapper
      %section#featured 
        .container
          .row
            .col-lg-12
              %iframe#gmap_canvas{:frameborder => "0", :height => "500", :marginheight => "0", :marginwidth => "0",:scrolling => "no", :src => "https://maps.google.com/maps?q=rajgurunagar%20tahasildar&t=k&z=13&ie=UTF8&iwloc=&output=embed", :width => "1130"}