%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    #wrapper
      %section#content
        .container
          .row
            .col-lg-12
              .row
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mr. 
                      %h4 Kaluram Navle
                      %h5 ( Mumbai Police)
                      %img{:title => "Mr. Kaluram Navle ( Mumbai Police)", :src => "assets/test1.jpg", :height => "200", :width => "200"}/
                      %p
                      %p
                        My friend suggested me to take the admission in this Academy because he was selected at the position on Police Inspector. But I am very afraid about academy because I have not confidece about myself but after admission , my confidence level is increases becuase of Garudzep Career Academy. All teachers guidence is very Good. Now I am selected in Police Recruitement.
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mrs.
                      %h4 Shamal Takalkar
                      %h5 ( Mumbai Police)
                      %img{:title => "Mr.Asaram Vanjare(M.A ,D.ED, NCC, Maharashtra Wrestling)", :src => "assets/test4.jpeg", :height => "200", :width => "200"}/
                      %p
                      %p
                        Today , experienced and highly qualified teachers used result oriented methodologies  and a personalized guidance approach to bring out the best in students. Providing time bound strategy for study compilation, revision as per requirement of examination.
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mrs.
                      %h4 Sonali Gavde 
                      %h5 ( Pune City Police)
                      %img{:title => "Mrs. Sonali Gavde ( Pune City Police)", :src => "assets/test2.jpg", :height => "200", :width => "200"}/
                      %p
                      %p
                        Garudzep Career Academy believes in developing the overall personality of its students in order to create future responsible global citizen and a responsible officers.To develop a spirit of social commitment and to promote dfdgv dfd
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mr.
                      %h4 Vishal Kolekar
                      %h5 (Mumbai Police )
                      %img{:title => "Mr.Asaram Vanjare(M.A ,D.ED, NCC, Maharashtra Wrestling)", :src => "assets/test3.jpeg", :height => "200", :width => "200"}/
                      %p
                      %p
                        One day I saw the advertisement of Garudzep Career Academy then I decided to visit the academy. After visit this academy,  all teachers guide me for what posting is suitable for me. And that day I decided to take the admission in Garudzep Career Acdemy. This Academy give the proper guidence about physical test, Written Test.