%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    #wrapper
      %section#content
        .container
          .row
            .col-lg-12
              .row
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mr. 
                      %h4 Kaluram Navle
                      %h5 ( Mumbai Police)
                      %img{:title => "Mr. Kaluram Navle ( Mumbai Police)", :src => "assets/test1.jpg", :height => "200", :width => "200"}/
                      %p
                      %p
                        My friend suggested me to take the admission in this Academy because he was selected at the position on Police Inspector. But I am very afraid about academy because I have not confidece about myself but after admission , my confidence level is increases becuase of Garudzep Career Academy.
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mrs.
                      %h4 Shamal Takalkar
                      %h5 ( Mumbai Police)
                      %img{:title => "Mrs. Shamal Takalkar ( Mumbai Police )", :src => "assets/test4.jpeg", :height => "200", :width => "200"}/
                      %p
                      %p
                        Garudzep Academy help students not only in the competitive exam but also prepare them for their future career Endeavour. They have an unmatched team of professionals having years of teaching experience and are not only from top universities in Maharashtra but also from all over india.
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mrs.
                      %h4 Sonali Gavde 
                      %h5 ( Pune City Police)
                      %img{:title => "Mrs. Sonali Gavde ( Pune City Police)", :src => "assets/test2.jpg", :height => "200", :width => "200"}/
                      %p
                      %p
                        The students are trained with accurate and necessary information to nurture self-study skills for better learning and understanding. Their classrooms are spacious, airy & well lighted to facilitate the teaching-learning process and are conducive to both round table group discussions as well as the conventional lecture format.
                .col-lg-3
                  .box
                    .box-bottom
                      %h4 Mr.
                      %h4 Vishal Kolekar
                      %h5 (Mumbai Police )
                      %img{:title => "Mr.Vishal Kolekar ( Mumbai Police )", :src => "assets/test3.jpeg", :height => "200", :width => "200"}/
                      %p
                      %p
                        One day I saw the advertisement of this Academy then I decided to visit the academy. After visit this academy,  all teachers guide me for what posting is suitable for me. And that day I decided to take the admission in this Academy. This Academy give the proper guidence about physical test, Written Test.